$natural-cyan: #c1dcd1;
$natural-brown: #c99663;
$blue-gradient-nature: linear-gradient(90deg, #5DE0E6, #004AAD);
$green-gradient-nature: linear-gradient(#00A651, #8DC63F);
$link-header-footer: #004466;
$text: black;
$text2: black;
$green-button: green;
$grey-box-shadow: rgba(0, 0, 0, 0.2);